@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: transparent;
  }
}

.animate-blink {
  animation: blink 0.75s step-end infinite;
}
